{% assign link_title = link.title | escape %}
<header-menu>
    <details class="mega-nav">
      <summary class="header__menu-item list-menu__item link focus-inset">
        <a class="link--text" href="{{ link.url }}">
          <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
        </a>
        {% render 'icon-downward-arrow' %}
      {% comment %}
        {% render 'icon-caret' %}
      {% endcomment %}
      </summary>
      <div class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
          <div class="page-width">
          <div class="megamenu-container">
        {% for block in section.blocks %}
          {% assign mega_menu = block.settings.mega_menu  %}
          {% if link_title == mega_menu %}
        <div class="site-nav__childlist-grid">
        <!-- Block Link list -->
      {%- for i in (1..5) -%}
      {%- liquid
        assign menu = 'submenu_link_' | append : i
        assign title = 'submenu_title_' | append : i
        assign submenu = 'submenu_' | append : i
          -%}
          {%- if block.settings[menu] != blank and block.settings[submenu] -%}
          <div class="site-nav__childlist-item site-nav__childlist-item-linklist">
            <div class="nav_menu">
                <div class="h4 nav_menutitle">{{ block.settings[title] }}</div>
                <ul class="menu list-menu">
                    {%- assign links = block.settings[menu] -%}
                    {% for i in linklists[links].links limit: linksLimits %}
                    <li class="menu-item {% if i.active %}active{% endif %}">
                        <a class="header__menu-item list-menu__item link link--text focus-inset caption-large" href="{{ i.url }}">{{ i.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            {%- endif -%}
            {% endfor %} 

        <!-- End Block Link list -->
        
        
        <!-- Block Product -->
        {%- assign menutitle = false -%}
        {%- capture productMenu -%}
            <ul class="menu list-menu product-list-grid">
                {% for i in (1..8) %}
                {% assign product = 'submenu_product_' | append : i %}
                {% if block.settings[product] != blank %}
                {%- liquid
                  assign menutitle = true
                  assign p = block.settings[product]
                  assign product = all_products[p]
                -%}
                <li class="list-view-item">
                    <div class="product-card product-card--list">
                        <a class="list-view-item__link" href="{{ product.url | within: collection }}">
                          <div class="list-view-item__image-column">
                            <div class="list-view-item__image-wrapper product-card__image-wrapper">
                            {% unless product.featured_media == null %}
                              <img class="list-view-item__image" 
                              src="{{ product.featured_media | img_url: '95x95' }}"
                              width="{{ article.image.width }}"
                              height="{{ article.image.height }}"
                              loading="lazy"
                              alt="{{ product.featured_media.alt }}">
                            {% endunless %}
                            </div>
                          </div>
                      
                          <div class="list-view-item__title-column">
                            <div class="list-view-item__title h4" aria-hidden="true">
                              <span class="product-card__title">{{ product.title }}</span>
                            </div>
                            {% render 'price' product: product %}
                            {% if show_vendor %}
                              <div class="list-view-item__vendor">{{ product.vendor }}</div>
                            {% endif %}
                          </div>
                        </a>
                      </div>
                      
                    </li>


                {% endif %}
                {% endfor %}
            </ul>
            {%- endcapture -%}
            {%- if menutitle -%}
            <div class="site-nav__childlist-item site-nav__childlist-item-product">
            <div class="h4 nav_menutitle">{{ block.settings.product_list_title }}</div>
            {{ productMenu}}
            </div>
            {%- endif -%}
        <!-- End Block Product -->

        {% if block.settings['content1'] != blank and block.settings.contentShow1 %}
        <div class="site-nav__childlist-item site-nav__childlist-item-content">
          {%- liquid
            assign url = block.settings['content_url1']
            -%}
          <h3>{{ block.settings.content_tile_1 }}</h3>
          <div class="rte">{{ block.settings.content1 }}</div>
          {% if block.settings.content_button_label1 != blank %}
          <a href="{{ url }}" class="button button--primary">{{ block.settings.content_button_label1 }}</a>
            {% endif %}
        </div>
        {% endif %}

            {% if block.settings['content2'] != blank and block.settings.contentShow2 %}
        <div class="site-nav__childlist-item site-nav__childlist-item-content">
          {%- liquid
            assign url1 = block.settings['content_url2']
            -%}
          <h3>{{ block.settings.content_tile_2 }}</h3>
          <div class="rte">{{ block.settings.content2 }}</div>
          {% if block.settings.content_button_label2 != blank %}
          <a href="{{ url1 }}" class="button button--primary">{{ block.settings.content_button_label2 }}</a>
            {% endif %}
        </div>
        {% endif %}

        {% if block.settings['banner'] != blank and block.settings.bannerShow %}
        <div class="site-nav__childlist-item site-nav__childlist-item-banner">
        {%- liquid
            assign image = block.settings['banner']
            assign url = block.settings['banner_url']
            -%}
           <a href="{{ url }}" target="_self" class="">
            <img
            srcset="{%- if image.src.width >= 165 -%}{{ image.src | img_url: '165x' }} 165w,{%- endif -%}
              {%- if image.src.width >= 360 -%}{{ image.src | img_url: '360x' }} 360w,{%- endif -%}
              {%- if image.src.width >= 533 -%}{{ image.src | img_url: '533x' }} 533w,{%- endif -%}
              {%- if image.src.width >= 720 -%}{{ image.src | img_url: '720x' }} 720w,{%- endif -%}
              {%- if image.src.width >= 1000 -%}{{ image.src | img_url: '1000x' }} 1000w,{%- endif -%}
              {%- if image.src.width >= 1500 -%}{{ image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
            src="{{ image.src | img_url: '533x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ image.src.alt | escape }}"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            loading="lazy"
            class="motion-reduce"
          >
          <h3>{{ block.settings.banner_tile_1 }}</h3>
            </a>
          <a href="{{ url }}" class="button button--primary">{{ block.settings.banner_button_label1 }}</a>
        </div>
        {% endif %}

        {% if block.settings['banner1'] != blank and block.settings.bannerShow1 %}
        <div class="site-nav__childlist-item site-nav__childlist-item-banner">
        {%- liquid
            assign image = block.settings['banner1']
            assign url1 = block.settings['banner_url1']
            -%}
           <a href="{{ url1 }}" target="_self" class="">
            <img
            srcset="{%- if image.src.width >= 165 -%}{{ image.src | img_url: '165x' }} 165w,{%- endif -%}
              {%- if image.src.width >= 360 -%}{{ image.src | img_url: '360x' }} 360w,{%- endif -%}
              {%- if image.src.width >= 533 -%}{{ image.src | img_url: '533x' }} 533w,{%- endif -%}
              {%- if image.src.width >= 720 -%}{{ image.src | img_url: '720x' }} 720w,{%- endif -%}
              {%- if image.src.width >= 1000 -%}{{ image.src | img_url: '1000x' }} 1000w,{%- endif -%}
              {%- if image.src.width >= 1500 -%}{{ image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
            src="{{ image.src | img_url: '533x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ image.src.alt | escape }}"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            loading="lazy"
            class="motion-reduce"
          >
          <h3>{{ block.settings.banner_tile_2 }}</h3>
            </a>
          <a href="{{ url1 }}" class="button button--primary">{{ block.settings.banner_button_label2 }}</a>
        </div>
        {% endif %}





        </div>
        
        {% if block.settings['banner_image_1'] != blank or block.settings['banner_image_Show1']  
        or block.settings['banner_image_2'] != blank or block.settings['banner_image_Show2'] 
     %}
     <div class="site-nav__childlist-grid">
         {% if block.settings['banner_image_1'] != blank and block.settings['banner_image_Show1'] %}
         <div class="site-nav__childlist-item site-nav__childlist-item-banner">
             {%- liquid
              assign image = block.settings['banner_image_1']
              assign url = block.settings['banner_url_1']
              -%}
             <a href="{{ url }}" target="_self" class="">
                <img
                srcset="{%- if image.src.width >= 165 -%}{{ image.src | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if image.src.width >= 360 -%}{{ image.src | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if image.src.width >= 533 -%}{{ image.src | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if image.src.width >= 720 -%}{{ image.src | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if image.src.width >= 1000 -%}{{ image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                  {%- if image.src.width >= 1500 -%}{{ image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
                src="{{ image.src | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ image.src.alt | escape }}"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                loading="lazy"
                class="motion-reduce"
              >
                </a>
            </div>
            {% endif %}
            {% if block.settings['banner_image_2'] != blank and block.settings['banner_image_Show2'] %}
            <div class="site-nav__childlist-item site-nav__childlist-item-banner">
                {%- liquid
                    assign image = block.settings['banner_image_2']
                    assign url = block.settings['banner_url_2']
                    -%}
                    <a href="{{ url }}" target="_self" class="">
                        <img
               srcset="{%- if image.src.width >= 165 -%}{{ image.src | img_url: '165x' }} 165w,{%- endif -%}
                 {%- if image.src.width >= 360 -%}{{ image.src | img_url: '360x' }} 360w,{%- endif -%}
                 {%- if image.src.width >= 533 -%}{{ image.src | img_url: '533x' }} 533w,{%- endif -%}
                 {%- if image.src.width >= 720 -%}{{ image.src | img_url: '720x' }} 720w,{%- endif -%}
                 {%- if image.src.width >= 1000 -%}{{ image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                 {%- if image.src.width >= 1500 -%}{{ image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
               src="{{ image.src | img_url: '533x' }}"
               sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
               alt="{{ image.src.alt | escape }}"
               width="{{ article.image.width }}"
               height="{{ article.image.height }}"
               loading="lazy"
               class="motion-reduce"
             >
                    </a>
         </div>             
         {% endif %}
         </div>
     {% endif %}
            {% endif %}
        {%- endfor -%}
      </div>
      </div>
    </div>
    </details>
  </header-menu>