{% comment %}
    Renders a product media gallery. Should be used with 'media-gallery.js'
    Also see 'product-media-modal'

    Accepts:
    - product: {Object} Product liquid object
    - variant_images: {Array} Product images associated with a variant
    - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

    Usage:
    {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
    if section.settings.hide_variants and variant_images.size == product.media.size
      assign single_media_visible = true
    endif
  
    assign media_count = product.media.size
    if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
      assign media_count = media_count | minus: variant_images.size | plus: 1
    endif
  
    if media_count == 1 or single_media_visible
      assign single_media_visible_mobile = true
    endif
  
    if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
      assign hide_mobile_slider = true
    endif
  
    if section.settings.media_size == 'large'
      assign media_width = 0.65
    elsif section.settings.media_size == 'medium'
      assign media_width = 0.55
    elsif section.settings.media_size == 'small'
      assign media_width = 0.45
    endif
  
    assign id_append = ''
    if is_duplicate
      assign id_append = '-duplicate'
    endif
  -%}
  
  <media-gallery
    id="MediaGallery-{{ section.id }}{{ id_append }}"
    role="region"
    {% if section.settings.enable_sticky_info %}
      class="product__media-gallery {{ section.settings.gallery_layout }}"
    {% endif %}
    aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
    data-desktop-layout="{{ section.settings.gallery_layout }}"
  >
    {% if template contains 'customapp' %}
    <div class="customproduct-wrap {{ section.settings.gallery_layout }}">
      {% endif %}
    <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
    <div id="GalleryViewer-{{ section.id }}{{ id_append }}" class="slick_main_slider">
      {%- unless is_duplicate -%}
        <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
      {%- endunless -%}
      <ul
        id="Slider-Gallery-{{ section.id }}{{ id_append }}"
        class="slider-for"
      >
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          <li
            id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
            class="{% if single_media_visible %} {% endif %}{% if featured_media.media_type != 'image' %} {% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} {% endif %}"
            data-media-id="{{ section.id }}-{{ featured_media.id }}"
          >
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail', media: featured_media, media_count: media_count, position: media_position, desktop_layout: section.settings.gallery_layout, mobile_layout: section.settings.mobile_thumbnails, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false %}
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li
              id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
              class="{% if single_media_visible %} {% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} {% endif %}{% if media.media_type != 'image' %} {% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} {% endif %}"
              data-media-id="{{ section.id }}-{{ media.id }}"
            >
              {%- liquid
                assign media_position = media_position | default: 0 | plus: 1
                assign lazy_load = false
                if media_position > 1
                  assign lazy_load = true
                endif
                render 'product-thumbnail', media: media, media_count: media_count, position: media_position, desktop_layout: section.settings.gallery_layout, mobile_layout: section.settings.mobile_thumbnails, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load
              -%}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </div>
      <div
        id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
        class="slick_thumb_slider {% unless section.settings.gallery_layout contains 'thumbnail' %}{% endunless %}{% if section.settings.mobile_thumbnails != 'show' %} {% endif %}{% if media_count <= 3 %}{% endif %}"
      >
        <ul
          id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
          class="slider-nav custom_thumb_img {% if section.settings.gallery_layout == 'thumbnail_slider' %} {% endif %}"
        >
          {%- if featured_media != null -%}
            {%- liquid
              capture media_index
                if featured_media.media_type == 'model'
                  increment model_index
                elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                  increment video_index
                elsif featured_media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
              class="{% if section.settings.hide_variants and variant_images contains featured_media.src %} {% endif %}"
              data-target="{{ section.id }}-{{ featured_media.id }}"
              data-media-position="{{ media_index }}"
            >
                <img
                  id="Thumbnail-{{ section.id }}-0{{ id_append }}"
                  srcset="
                    {% if featured_media.preview_image.width >= 54 %}{{ featured_media.preview_image | image_url: width: 54 }} 54w,{% endif %}
                    {% if featured_media.preview_image.width >= 74 %}{{ featured_media.preview_image | image_url: width: 74 }} 74w,{% endif %}
                    {% if featured_media.preview_image.width >= 104 %}{{ featured_media.preview_image | image_url: width: 104 }} 104w,{% endif %}
                    {% if featured_media.preview_image.width >= 162 %}{{ featured_media.preview_image | image_url: width: 162 }} 162w,{% endif %}
                    {% if featured_media.preview_image.width >= 208 %}{{ featured_media.preview_image | image_url: width: 208 }} 208w,{% endif %}
                    {% if featured_media.preview_image.width >= 324 %}{{ featured_media.preview_image | image_url: width: 324 }} 324w,{% endif %}
                    {% if featured_media.preview_image.width >= 416 %}{{ featured_media.preview_image | image_url: width: 416 }} 416w,{% endif %},
                    {{ featured_media.preview_image | image_url }} {{ media.preview_image.width }}w
                  "
                  src="{{ featured_media | image_url: width: 416 }}"
                  sizes="(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4), (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4), (min-width: 750px) calc((100vw - 15rem) / 8), calc((100vw - 14rem) / 3)"
                  alt="{{ featured_media.alt | escape }}"
                  height="208"
                  width="208"
                  loading="lazy"
                >
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              {%- liquid
                capture media_index
                  if media.media_type == 'model'
                    increment model_index
                  elsif media.media_type == 'video' or media.media_type == 'external_video'
                    increment video_index
                  elsif media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                assign media_index = media_index | plus: 1
              -%}
              <li
                id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                class="{% if section.settings.hide_variants and variant_images contains media.src %} {% endif %}"
                data-target="{{ section.id }}-{{ media.id }}"
                data-media-position="{{ media_index }}"
              >
                {%- if media.media_type == 'model' -%}
                  <span class="thumbnail__badge" aria-hidden="true">
                    {%- render 'icon-3d-model' -%}
                  </span>
                {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                  <span class="thumbnail__badge" aria-hidden="true">
                    {%- render 'icon-play' -%}
                  </span>
                {%- endif -%}
                
                  <img
                    id="Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                    srcset="
                      {% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                      {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                      {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                      {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                      {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                      {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}
                    "
                    src="{{ media | image_url: width: 84, height: 84 }}"
                    sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
                    alt="{{ media.alt | escape }}"
                    height="200"
                    width="200"
                    loading="lazy"
                  >
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
    </div>
      {% if template contains 'customapp' %}
    </div>
        {% endif %}
    {% if template contains 'customapp' %}
    <div class="product-social-media">
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                  {%- render 'icon-facebook-new' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                  {%- render 'icon-instagram-new' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                </a>
              </li>
            {%- endif -%}
          </ul>
                </div>
    {% endif %}
  </media-gallery>
  