{{ 'faq.css' | asset_url | stylesheet_tag }}
<section class="faq_outer page-width" style="background-color: {{ section.settings.bg_clr }}">
    {% if section.settings.title != blank %}
        <h2 class="title h1">{{ section.settings.title | escape }}</h2>
      {% endif %}
     <div class="faq_inner page-width">
         {% for block in section.blocks %}
         <div class="que_and_ans">
             <div class="accordion question">
              {% render 'icon-plus' %}
              {% render 'icon-minus' %}
                {% if block.settings.ques != blank %}
                    <h4 class="ques" style="color: {{ section.settings.title_color }};">{{ block.settings.ques }}</h4> 
                {% endif %} 
            </div> 
            <div class="panel answer">
                 {% if block.settings.ans != blank %}
                     <p class="ans" style="color: {{ section.settings.description_color }};">{{ block.settings.ans }}</p>
                 {% endif %}
            </div>
        </div>
    {% endfor %} 
</div>
</section> 
<script> 
var acc = document.getElementsByClassName("accordion"); 
var i; 
for (i = 0; i < acc.length; i++) {
     acc[i].addEventListener("click", function() {
      if( !this.classList.contains('active') ){
        closeAll();
      }
         this.classList.toggle("active"); 
         var panel = this.nextElementSibling; 
         if (panel.style.display === "block") {
             panel.style.display = "none"; 
         }
         else {
            panel.style.display = "block"; 
        }
     });
     } 

     function closeAll(){
      for (i = 0; i < acc.length; i++) {
         acc[i].classList.remove("active");
           acc[i].nextElementSibling.style.display = "none"; 
   }
  }

var pnl = document.getElementsByClassName("panel"); 
var i; 
for (i = 0; i < pnl.length; i++) {
     pnl[i].addEventListener("click", function() {
         this.previousElementSibling.classList.toggle("active"); 
         var panel = this; 
         if (panel.style.display === "block") {
             panel.style.display = "none"; 
         }
         else {
            panel.style.display = "block"; 
        }
     });
     } 
   
    </script>
{% schema %}
{
    "name": "ACCORDION",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Your Questions Answered"
          },
      {
        "type": "color",
        "id": "bg_clr",
        "label": "Section Background color"
      },
      {
            "type": "color",
            "id": "title_color",
            "label": "Questions color",
            "default": "#000"
        },
        {
              "type": "color",
              "id": "description_color",
              "label": "Answers color",
              "default": "#000"
          }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "ques",
            "label": "Questions"
          },
          {
            "type": "richtext",
            "id": "ans",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "ACCORDION",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}   