{{ 'logo-list.css' | asset_url | stylesheet_tag }}
<div class=" relative container multi_logo container--no-mobile-padding section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="logo-list">
  {% style %} 
    .section-{{ section.id }}  { background-color: {{ section.settings.color_bg }}; }
    .section-{{ section.id }} .logo-list__logo { color: {{ section.settings.color_text }}; } 
    .section-{{ section.id }} .logo-list__title { color: {{ section.settings.color_title }}; }
    .section-{{ section.id }} .logo-list__link .logo-list__logo-image { opacity: {{ section.settings.image_opacity }}%; }
    .section-{{ section.id }} .logo-list__link:hover .logo-list__logo-image { opacity: 100%; } 
    .multi_logo button.slick-prev.slick-arrow {
  background-image: url({{ 'line-arrow.svg' | file_url }});
        background-color: #000;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
    border-radius: 100%;
        left: 5px;
    z-index: 2;
}
.multi_logo button.slick-next.slick-arrow {
    background-image: url({{ 'line-arrow.svg' | file_url }});
        background-color: #000;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
transform: translate(0,-50%) rotate(180deg);
    border-radius: 100%;
    right: 5px;
}
    {%- for block in section.blocks -%} 
    .section-{{ section.id }} .logo-list__logo-{{ forloop.index }} .logo-list__logo-image { max-width: {{ block.settings.image_width }}px; }
    {%- endfor -%} 
    {% endstyle %} 
  <div class="page-width large-section logo-list-section global-border-radius large-row ">
    {%- if section.settings.title != blank or section.settings.enable_carousel == true -%} 
      <div class="logo-list__title text-center"> 
        {% if section.settings.title != blank %} 
        <h2 class="{% if section.settings.enlarge_title %}giant-title{% else %}large-title{% endif%}">{{ section.settings.title | escape }}</h2>
        {% endif %} 
      </div>
    {% endif %} 
    <div class="logo-list"
      {% if section.settings.enable_desktop_slider_slick %}
        data-slickslider="true"
     data-slick-autoplay="{{ section.settings.autoplay }}"
     data-slick-autoplayspeed="{{ section.settings.autorotate_speed | times: 1000 }}"
     data-slick-infinite="{{ section.settings.sliderLoop }}"
     data-slick-pauseonhover="{{ section.settings.pauseOnHover }}"
   
     data-slick-desktop-init="{{ section.settings.desktopInit }}"
     data-slick-desktop-show="{{ section.settings.desktopShow }}"
     data-slick-desktop-arrows="{{ section.settings.desktopArrows }}"
     data-slick-desktop-dots="{{ section.settings.desktopDots }}"
     data-slick-desktop-vertical="false"
   
     data-slick-tab-init="{{ section.settings.tabInit }}"
     data-slick-tab-show="{{ section.settings.tabShow }}"
     data-slick-tab-arrows="{{ section.settings.tabArrows }}"
     data-slick-tab-dots="{{ section.settings.tabDots }}"
     data-slick-tab-vertical="false"
   
     data-slick-mobile-init="{{ section.settings.mobileInit }}"
     data-slick-mobile-show="{{ section.settings.mobileShow }}"
     data-slick-mobile-arrows="{{ section.settings.mobileArrows }}"
     data-slick-mobile-dots="{{ section.settings.mobileDots }}"
     data-slick-mobile-vertical="false"
     {% endif %}
    > 
    {% for block in section.blocks %} 
      {%- if block.settings.link != blank -%}
        <a class="logo-list__logo logo-list__logo-{{ forloop.index }} logo-list__link" href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
          {%- else -%}
        <div class="logo-list__logo logo-list__logo-{{ forloop.index }}" {{ block.shopify_attributes }}> 
        {%- endif -%}
          <div class="logo-list__logo-image GM-logo-list__logo-image"> 
          {%- if block.settings.image != blank -%} 
            <div class="rimage-outer-wrapper" style="max-width: {{ block.settings.image.width }}px">
              <div class="rimage-wrapper lazyload--placeholder">
                {%- assign img_url = block.settings.image | img_url: 'master' -%}
                <img class="rimage__image lazyload fade-in" src="{{ img_url }}" data-widths="[{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2}}]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">
              </div> 
            </div>
            {%- else -%}
            <div class="placeholder-image"> 
            {{- 'logo' | placeholder_svg_tag: 'placeholder-svg' -}}
            </div> 
            {%- endif -%} 
          </div> 
          {%- if block.settings.Logo_list_heading != blank -%} 
            {{block.settings.Logo_list_heading }}
            {%endif%} 
            {%- if block.settings.title != blank -%} 
          <div class="logo-list__logo-text {% if section.settings.enlarge_text %} large-text{% endif %}"> 
              {{ block.settings.title }}
              </div>
          {%- endif -%} 
          {%- unless block.settings.link != blank -%} 
        </div>
          {%- else -%}
            </a> 
            {%- endunless -%} 
            {% endfor %}
    </div>
    {% if section.settings.button_link != blank %}
      <div class="rich-text-section__btn-row text-center">
        <a class="btn btn--small btn--primary" href="{{section.settings.button_link}}">{{section.settings.button_text}}</a> 
      </div>
      {% endif %} 
  </div> 
</div>
{% schema %}
{
  "name": "Logo list",
  "tag": "section",
  "class": "section-logo-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#dae4e6"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider_slick",
      "label": "Enable Slider",
      "default": false
    },
    {
      "type": "header",
      "content": "Slider Settings"
  },
  {
    "type": "checkbox",
    "id": "autoplay",
    "label": "Autoplay",
    "default": true
  },
  {
    "type": "range",
    "id": "autorotate_speed",
    "label": "Change slides every",
    "max": 10,
    "min": 1,
    "step": 1,
    "unit": " s",
    "default": 3
  },
  {
      "type": "checkbox",
      "id": "sliderLoop",
      "label": "Infinite loop sliding",
      "default": true
  },
  {
      "type": "checkbox",
      "id": "pauseOnHover",
      "label": "Pause on Hover",
      "default": false
  },
  {
      "type": "header",
      "content": "Desktop Settings"
  },
  {
      "type": "checkbox",
      "id": "desktopInit",
      "label": "Enable Slider in Desktop",
      "default": true
  },
  {
      "type": "range",
      "id": "desktopShow",
      "label": "Show",
      "default": 4,
      "max": 6,
      "min": 1,
      "step": 1
  },
  {
      "type": "checkbox",
      "id": "desktopArrows",
      "label": "Arrows",
      "default": true
  },
  {
      "type": "checkbox",
      "id": "desktopDots",
      "label": "Dots",
      "default": true
  },
  {
      "type": "header",
      "content": "Tablet Settings"
  },
  {
      "type": "checkbox",
      "id": "tabInit",
      "label": "Enable slider in tablet",
      "default": true
  },
  {
      "type": "range",
      "id": "tabShow",
      "label": "Show",
      "default": 3,
      "max": 6,
      "min": 1,
      "step": 1
  },
  {
      "type": "checkbox",
      "id": "tabArrows",
      "label": "Arrows",
      "default": true
  },
  {
      "type": "checkbox",
      "id": "tabDots",
      "label": "Dots",
      "default": true
  },
  {
      "type": "header",
      "content": "Mobile Settings"
  },
  {
      "type": "checkbox",
      "id": "mobileInit",
      "label": "Enable slider in Mobile",
      "default": true
  },
  {
      "type": "range",
      "id": "mobileShow",
      "label": "Show",
      "default": 2,
      "max": 6,
      "min": 1,
      "step": 1
  },
  {
      "type": "checkbox",
      "id": "mobileArrows",
      "label": "Arrows",
      "default": true
  },
  {
      "type": "checkbox",
      "id": "mobileDots",
      "label": "Dots",
      "default": true
  }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Logo width",
          "min": 40,
          "max": 280,
          "step": 10,
          "unit": "px",
          "default": 160
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "info": "Optional"
        },
        {
          "type": "richtext",
          "id": "Logo_list_heading",
          "label": "Logo List Heading",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}  {% endschema %} 